* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(194, 194, 52), rgb(233, 62, 62));
}


#fruit {
  border: unset;
  background-image: linear-gradient(to right, rgb(194, 194, 52), rgb(233, 62, 62));
  padding: 0.3em;

}

.super-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container {
  width: 50%;
  height: 50%;
}

.search-container input {
 width: 100%; /* make as large as rest of dropdown field */

}
.search-container .suggestions {
   list-style: none;
   padding: unset;
   margin: unset;

}


.suggestions .result-li {
  border: unset;
  padding: 0.3em;
  cursor: pointer;
  background: unset;
  width: 100%;
  text-align: left;
  background-color: rgb(255, 183, 0);
}

.suggestions .result-li:hover{
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  color: black;
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgb(48, 48, 184);
}
